@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

html {
    background-color:  rgb(33, 159, 148);
}

.page {
    padding-top: 0px;
}

.content {
    font-family: 'Acme', sans-serif;
    text-shadow: 3px 3px 0px #114b5f;
    margin-left: 5vw;
    margin-top: 14vw;
}

#title {
    font-size: 4rem;
    color: rgb(193, 222, 174);
    height: 70px;
    margin: 0;
}

#subtitle {
    font-size: 2rem;
    color: rgb(193, 222, 174);
    height: 50px;
    margin: 0;
    padding-top: 5px;
}

#socials {
    color: rgb(242, 245, 200);
    list-style-type: none;
    overflow: hidden;
    display: block;
    margin-right: 0;
    margin: 0;
    margin-left: 30px;
    margin-top: 5px;
}
#socials li{
    display: inline-block;
    font-size: 20px;
    margin-right: 1vw;
}

#socials #contact {
    display: inline-block;
    font-size: 20px;
}

#socials li a:visited {
    text-decoration: none;
    color: rgb(242, 245, 200);
}

#socials li a {
    text-decoration: none;
    color: rgb(242, 245, 200);
}


#side-bar {
    height: 100vh;
    width: 70px;
    background-color: rgb(193, 222, 174);
    margin-left: 0;
    position: fixed;
    right:0;
    top:0
}

.sidebarGroup {
    top: 35%;
    position: absolute;
}

.sidebarGroup button{
    display: block;
    width: 70px;
    height: 50px;
    font-size: 25px;
    border: none;
    background-color: transparent;
    color: rgb(33, 159, 148)
}



.sidebarGroup button:hover {
    transform: scale(1.2);
}

section {
    width: 100%;
    height: 100vh;
    display: inline-block;
}

.light-box {
    width: 50%;
    padding: 20px;
    border-radius: 20px;
    -webkit-box-shadow: 7px 7px 0px rgb(8, 39, 50);
            box-shadow: 7px 7px 0px rgb(8, 39, 50);
    background-color: #f3e9d2ff;
    color: #114b5fff;
    margin-left: 100px;
  }

.sectionTitle {
    font-size: 2rem;
    color: rgb(193, 222, 174);
    height: 50px;
    margin: 0;
    padding-top: 5px;
    margin-left: 20px;
}

@media (min-width: 576px) {
    #main-page {
      padding-top: 0px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
  }